.Cart {
    margin: auto;
    max-width: 600px;
    border: 20px;
    padding: 2px;
    margin-top: 20px;
    border: 0.15rem solid black;
}
.Cart img {
    height: 75px;
}
.CartItem {
    max-width: 600px;
    margin:auto;
}
.CartItem>* {
    padding: 0 10px;
}
.Cart button {
    background: seagreen;
    padding: 5px 15px;
    border: 0.15rem solid black;  
}