.disabled {
    pointer-events: none;
    color: gray;
}

.cartButton {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    flex: 1;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

#notif { 
    text-align: center;
    border: solid #171717 0.15rem;
    background-color: rgb(60 179 113);
    width: 180px;
    margin: 5px;
}