#logoH1 {
    font-family: RegularFedoka;
    color: mediumseagreen;

}
.buttonRow {
    border-bottom: solid #171717 0.15rem;
    border-top: solid #171717 0.15rem;
    display: inline-block;
}

.buttonBorder {
    border-left: solid #171717 0.15rem;

}