/* <div className='fixed right-0 top-5 z-10'>
        <div id="notif" className='hide'>
          <p className="bg-terra text-offblack p-3">Successfully added {notifCount} items to the cart.</p>
        </div>
      </div> */
.Notification {
    position: fixed;
    right: 10px;
    top: 1.25rem;
    z-index: 10;
    background: rgb(253 158 144);
    padding: 0.75rem;
    border: solid #171717 2px;
    max-width: 300px;
}
.Notification > * { 
    text-align: center;
    
    font-family: Lexend;
    width: 180px;
    margin: 5px;
}
.Notification.transitioning {
    opacity: 0;
    transition: opacity 1.5s linear;
}