/* <div className='fixed right-0 top-5 z-10'> */
.Notification {
    position: fixed;
    right: 0;
    top: 1.25rem;
    z-index: 10;
}
.Notification > * { 
    text-align: center;
    border: solid #171717 2px;
    font-family: Lexend;
    width: 180px;
    margin: 5px;
}