#SignContainer{
    margin-top: -0.2vh;
    margin-right: 8vh;
    background-color: mediumseagreen;
    width: 18rem;
    z-index: 1;
}
input{
    border: solid 0.15rem black;
    font-family: Lexend;
    outline: none;
    width: 14rem;
}
textarea:focus, input:focus{
    font-family: Lexend;
}

.textSignin {
    font-family: Lexend;
}

.btnHover:hover{
    background-color: #7DDEA9;
}